*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #454545;
    color: #FFE6C7;
}

.container{
    border: solid red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.php-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}